.picFrame{
	width: 80%;
	margin: 0 0 50 210;

	.centralPhoto{
		height: 250px;
		width: 50%;
	}
	.picFeedback{
	width: 50%;
	height: 25px;
	.commentOnPic{
		float: right;
		height: 90%;
	}
	.likePicture{
		float: left;
	}
	.picLikeCount{
		color: white;
		float: left;
	}
}

}

.lower{
	width: 50%;
	.picComments{
		background: #FFB6C1;
		.comment{
			height: 42px;
			border: 1px solid #ED145B;
			.commentRightSide{
				float: left;
				width: 40%;
				.commentPic{
					float: left;
					height: 20px;
				}
				.cName{
					float: left;
				}
			}
	 		.commentLeftSide{
				width: 60%;
				float: left;
				.cText{
					float: left;
				}
			}
	}
}
}