.content{
	.right{
		width: 48%;
		float: right;
		.input-group{
			width: 50%;
			margin-left: 22%;
		}
		.statuses{
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 15px;
			.status{
				margin: 0 auto;
				float: left;
				width: 100%;
				margin-bottom: 25px;
				border: 1px solid black;
				.top{
					float: left;
					width: 100%;
					background: white;
					padding: 5px;
					.leftpart{
						width: 20%;
						float: left;
						.thumb{
							height: 68px; 
							width: 80%;
							float: left;
						}
					}
					.rightpart{
						width: 80%;
						float: left;
						padding-left: 10px;
						padding-top: 7px;
						.statusInfo{
							width: 100%;

							font-size: 18px;
							text-align: left;
							.statusOwner{
								font-size: 15px;
							}
							.creationDate{
								font-size: 11px;
							}
						}
						.middle{
							width: 100%;
							float: left;
							text-align: left;
							font-size: 18px;
						}		
					}
				}
				.bottom{
					width: 100%;
					float: left;
					color: white;
					background: #ED145B;
					text-align: left;
					padding: 5px;
					.writeComment{
						float: right;
						margin: 0 auto;
						.input-group{
							float: right;
							.commentBar{
							}
						}
					}

					.likeStatus{
						float: left;
						width: 30%;
						height: 1%;
						.unlike{
							color: green;
						}
					}
				}
				
			

				.commentSection{
					width: 100%;
					background-color: lightpink;
					float: left;
					.comment{
						border: 1px solid #ED145B;
						padding: 5px;
						.commentTop{
							margin-bottom: 5px;
							.commentLeftSide{
								width: 40%;
								display: inline-block;
								.commentPic{
									display: inline-block;	
									height: 20px;
									margin-right: 5px;
								}
								.cName{
									display: inline-block;
								}
							}
					 		.commentRightside{
								width: 60%;
								display: inline-block;
								
								.cText{
									display: inline-block;
								}

							}
						}
						.commentBottom{
							.likeComment{
								display: inline-block;
								margin: 0;
								.unlike{
									color: green;
								}
							}
						}
					}	
				}
			}
		}
	}

	.left{
		width: 49%;
		float: left;
		color: white;
		.reg-info{
			margin-left: 40px; 
		}
		.pictures{
			width: 50%;

			.img{
				width: 50%;

				.prophoto{
					width: 100%;
				}
			}
		}
		.bio{
			width: 48%;
		}
		#reg{
			width: 50%;
		}
	}
}