.content{
	.right{
		width: 48%;
		float: right;
		.input-group{
			width: 50%;
			margin-left: 22%;
		}
		.statuses{
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 15px;
			.status{
				margin: 0 auto;
				float: left;
				width: 100%;
				margin-bottom: 25px;
				border: 1px solid black;
				.top{
					float: left;
					width: 100%;
					background: white;
					.leftpart{
						width: 20%;
						float: left;
						.thumb{
							height: 68px; 
							width: 80%;
							float: left;
						}
					}
					.rightpart{
						width: 80%;
						float: left;
						padding-left: 10px;
						padding-top: 7px;
						.creater{
							width: 100%;

							font-size: 18px;
							text-align: left;
						}
						.middle{
							width: 100%;
							float: left;
							text-align: left;
							font-size: 18px;
						}		
					}
				}
				.bottom{
						width: 100%;
						float: left;
						color: white;
						background: black;
					}
			}
		}
	}

	.left{
		border: 1px solid blue;
		width: 49%;
		float: left;
		.reg-info{
			margin-left: 40px; 
		}
		.pictures{
			width: 50%;

			border: 1px solid black;
			.img{
				width: 50%;

				.prophoto{
					width: 100%;
				}
			}
		}
		.bio{
			width: 48%;

			border: 1px solid orange;
		}
		#reg{
			width: 50%;
		}
	}
}