@import "_header.scss";
@import "_profile.scss";
@import "_pictureCollage.scss";
@import "_picturePage.scss";
@import "_albumsPictures.scss";


body{
	background-image: url('/static/images/pattern29.png');
}
form.like{
	button{
		background: transparent;
		font-size: 17px;
		color: white;
		&:hover{
			color: white;
		}
	}
}			

.content{
	width: 80%;
	padding: 20px 50px;
	margin: 0 auto;
}