.header {
  height: 10%;
  width: 100%;
  background-color: #141414; }
  .header h1 {
    margin: 0; }
  .header .left {
    width: 65%;
    color: white;
    padding: 15px;
    display: inline-block; }
    .header .left .site_header {
      width: 18%;
      height: auto;
      float: left; }
      .header .left .site_header .site-name {
        font-weight: bold;
        font-size: 25px;
        border-radius: 7px;
        background: white;
        padding-left: 5px;
        padding-right: 5px;
        color: black; }
        .header .left .site_header .site-name .siteNameLink {
          color: black; }
          .header .left .site_header .site-name .siteNameLink:hover {
            text-decoration: none; }
  .header .right {
    width: 32%;
    display: inline-block;
    color: white;
    float: right; }
    .header .right .form-group {
      float: right;
      padding: 5px;
      margin: 0 auto;
      margin-top: 23px;
      width: 50%; }
      .header .right .form-group .form-control {
        border: 2px solid #CCC; }
        .header .right .form-group .form-control:focus {
          border-color: #ed145b; }

.navbar {
  width: 80%;
  margin: 0 auto;
  display: block;
  background: #ed145b;
  border: none; }
  .navbar ul.nav {
    text-align: center;
    float: none;
    width: 60%;
    margin: 0 auto; }
    .navbar ul.nav .home a img {
      height: 17px;
      margin-right: 3px;
      position: relative;
      top: -2px; }
    .navbar ul.nav li {
      margin-right: 10px;
      display: inline-block;
      float: none; }
      .navbar ul.nav li.open a.dropdown-toggle {
        background: #f36a97;
        color: white; }
      .navbar ul.nav li a {
        display: inline-block;
        margin-top: 11px;
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        padding: 5px 10px; }
        .navbar ul.nav li a:focus {
          color: white; }
        .navbar ul.nav li a:hover {
          color: white;
          background: #f36a97; }
    .navbar ul.nav ul.dropdown-menu {
      text-align: left; }
      .navbar ul.nav ul.dropdown-menu li {
        width: 100%;
        margin-top: 0; }
        .navbar ul.nav ul.dropdown-menu li a {
          width: 100%;
          color: black;
          text-transform: none; }
          .navbar ul.nav ul.dropdown-menu li a:hover {
            background: #d6d6d6; }

.content .right {
  width: 48%;
  float: right; }
  .content .right .input-group {
    width: 50%;
    margin-left: 22%; }
  .content .right .statuses {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px; }
    .content .right .statuses .status {
      margin: 0 auto;
      float: left;
      width: 100%;
      margin-bottom: 25px;
      border: 1px solid black; }
      .content .right .statuses .status .top {
        float: left;
        width: 100%;
        background: white;
        padding: 5px; }
        .content .right .statuses .status .top .leftpart {
          width: 20%;
          float: left; }
          .content .right .statuses .status .top .leftpart .thumb {
            height: 68px;
            width: 80%;
            float: left; }
        .content .right .statuses .status .top .rightpart {
          width: 80%;
          float: left;
          padding-left: 10px;
          padding-top: 7px; }
          .content .right .statuses .status .top .rightpart .statusInfo {
            width: 100%;
            font-size: 18px;
            text-align: left; }
            .content .right .statuses .status .top .rightpart .statusInfo .statusOwner {
              font-size: 15px; }
            .content .right .statuses .status .top .rightpart .statusInfo .creationDate {
              font-size: 11px; }
          .content .right .statuses .status .top .rightpart .middle {
            width: 100%;
            float: left;
            text-align: left;
            font-size: 18px; }
      .content .right .statuses .status .bottom {
        width: 100%;
        float: left;
        color: white;
        background: #ED145B;
        text-align: left;
        padding: 5px; }
        .content .right .statuses .status .bottom .writeComment {
          float: right;
          margin: 0 auto; }
          .content .right .statuses .status .bottom .writeComment .input-group {
            float: right; }
        .content .right .statuses .status .bottom .likeStatus {
          float: left;
          width: 30%;
          height: 1%; }
          .content .right .statuses .status .bottom .likeStatus .unlike {
            color: green; }
      .content .right .statuses .status .commentSection {
        width: 100%;
        background-color: lightpink;
        float: left; }
        .content .right .statuses .status .commentSection .comment {
          border: 1px solid #ED145B;
          padding: 5px; }
          .content .right .statuses .status .commentSection .comment .commentTop {
            margin-bottom: 5px; }
            .content .right .statuses .status .commentSection .comment .commentTop .commentLeftSide {
              width: 40%;
              display: inline-block; }
              .content .right .statuses .status .commentSection .comment .commentTop .commentLeftSide .commentPic {
                display: inline-block;
                height: 20px;
                margin-right: 5px; }
              .content .right .statuses .status .commentSection .comment .commentTop .commentLeftSide .cName {
                display: inline-block; }
            .content .right .statuses .status .commentSection .comment .commentTop .commentRightside {
              width: 60%;
              display: inline-block; }
              .content .right .statuses .status .commentSection .comment .commentTop .commentRightside .cText {
                display: inline-block; }
          .content .right .statuses .status .commentSection .comment .commentBottom .likeComment {
            display: inline-block;
            margin: 0; }
            .content .right .statuses .status .commentSection .comment .commentBottom .likeComment .unlike {
              color: green; }
.content .left {
  width: 49%;
  float: left;
  color: white; }
  .content .left .reg-info {
    margin-left: 40px; }
  .content .left .pictures {
    width: 50%; }
    .content .left .pictures .uploadErrorMessage {
      color: red; }
    .content .left .pictures .img {
      width: 50%; }
      .content .left .pictures .img .prophoto {
        width: 100%; }
  .content .left .bio {
    width: 48%; }
  .content .left #reg {
    width: 50%; }

.picCollage {
  width: 80%;
  margin: 0 auto; }
  .picCollage .userPhoto {
    width: 20%;
    height: 115px;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 7px;
    margin-bottom: 10px; }

h1 {
  margin: 0 auto;
  text-align: center;
  color: white; }

.picFrame {
  width: 80%;
  margin: 0 0 50 210; }
  .picFrame .centralPhoto {
    height: 250px;
    width: 50%; }
  .picFrame .picFeedback {
    width: 50%;
    height: 25px; }
    .picFrame .picFeedback .commentOnPic {
      float: right;
      height: 90%; }
    .picFrame .picFeedback .likePicture {
      float: left; }
    .picFrame .picFeedback .picLikeCount {
      color: white;
      float: left; }

.lower {
  width: 50%; }
  .lower .picComments {
    background: #FFB6C1; }
    .lower .picComments .comment {
      height: 42px;
      border: 1px solid #ED145B; }
      .lower .picComments .comment .commentLeftSide {
        float: left;
        width: 40%; }
        .lower .picComments .comment .commentLeftSide .commentPic {
          float: left;
          height: 20px; }
        .lower .picComments .comment .commentLeftSide .cName {
          float: left; }
      .lower .picComments .comment .commentRightSide {
        width: 60%;
        float: left; }
        .lower .picComments .comment .commentRightSide .cText {
          float: left; }

.flashes {
  color: red;
  font-size: 20px; }

body {
  background-image: url("/static/images/pattern29.png"); }

form.like button {
  background: transparent;
  font-size: 17px;
  color: white; }
  form.like button:hover {
    color: white; }

.content {
  width: 80%;
  padding: 20px 50px;
  margin: 0 auto; }
