@import "_header.scss";
@import "_profile.scss";
@import "_pictureCollage.scss";
@import "_picturePage.scss";

body{
	background-image: url('/static/images/pattern29.png');
}
.content{
	width: 80%;
	padding: 20px 50px;
	margin: 0 auto;
}