body{
	background-color: blue;

}
form{
	.input-append{
		float: right;
		border: 1px solid black;
		background-color: pink;
		button{
			float: right;
		}
		input{
			float: left;
		}

	}
}
.header{

}