body {
  background-color: blue; }

form .input-append {
  float: right;
  border: 1px solid black;
  background-color: pink; }
  form .input-append button {
    float: right; }
  form .input-append input {
    float: left; }
