.header{
	height: 12%;
	background-color:#3b5998


}
.header .head{
	margin-top: 46px;
	margin-left: 105px;
	height: 34px;
	font-size: 37px;
	width: 20%;
	float: left;
	color: white;
}

.header .login-stuff{
	float: right;
	margin-top: 27px;
	margin-right: 127px;
	height: 78px;
}

.header .login-stuff .email{
	margin-left: 42px; 
	color: white;
}

.header .login-stuff .password{
	margin-left: 74px; 
	color: white;
}
.header .login-stuff .button{
	margin-right: 10px;
}
.header .login-stuff .button .b1{
	height: 22px;
	background-color: #5b74a8;
	color: white;
	float: right;
	margin-right: -56px;
	margin-top: -22px;
}

.content{
	height: 100%;
	width: 100%;
	background-color: #edf0f5;
}
.content .image{
	width: 65%;	
	height: 99%;
	float: left;
	background-color: #edf0f5;
}
.content .register{
	width: 35%;
	float: left;
	height: 99%;
	background-color: #edf0f5;
}
.content .register p{
	padding-left: 28px;
	font-size: 34px;
}


