.content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black; }
  .content .info {
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid black; }
  .content .friends {
    border: 1px solid black; }
