html
	head
		title Rybook
			link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	body
		nav class="navbar navbar-default" role="navigation"
			div class="navbar-header"
				button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"
				      span.sr-only Toggle navigation
				        span.icon-bar
				        span.icon-bar
				        span.icon-bar
				      a class="navbar-brand" href="{{url_for('home')}}" Rybook {{logged_in}}

			div class="collapse navbar-collapse navbar-ex1-collapse"
			  ul.nav.navbar-nav
			    form.navbar-form.navbar-left role="search" action="{{url_for('search')}}" method='post'
			      span class="glyphicon glyphicon-search"
			      div class="form-group"
			        input type="text" name='Search' class="form-control" placeholder="Search"

			ul.nav.navbar-nav
			  | {% if current_user.owner %}
			  li.dropdown
			    a.dropdown-toggle data-toggle="dropdown" href="#"
			      span.glyphicon.glyphicon-user
			      b.caret
			    ul.dropdown-menu
			      li.nav-header Requests
			      li.divider
			      | {% for name in request_names %}
			      li
			        span.pull-left  {name}
			        #accept.btn-group.pull-right
			          form action="{{url_for('declineRequest', friend = name)}}" method="post"
			            button.btn.btn-mini Decline
			          form action="{{url_for('acceptRequest', friend = name)}}" method="post"
			            button.btn.btn-mini.btn-primary type="submit"  Accept
			      li.divider
			      | {%endfor%}
			  | {%endif%}

			ul.nav.navbar-nav
			  li.dropdown
			    a.dropdown-toggle data-toggle="dropdown" href="#"
			      span.glyphicon.glyphicon-edit
			      b.caret
			    ul.dropdown-menu
			      li.nav-header Messages
			      li.divider
			      | {% if current_user.owner %}
			      | {% for m in message%}
			      li
			        span.pull-left
			        	| {m.message}
			        br
			          span Sent from id# -  {m.sender_id}
			      li.divider
			      | {%endfor%}
			      | {% endif %}
			      li
			        | {% if not current_user.owner %}
			        | Send this person a message
			        form action="{{url_for('sendMessage', user_id = current_user.id)}}" method="post"
			          input#focusedInput name="message" placeholder="Message" type="text" /
			          button.btn.btn-primary.btn-xs type="submit"  Message
			        | {%endif%}
			ul.nav.navbar-nav.navbar-right
				li.active
					a href="{{url_for('home')}}"
					span.glyphicon.glyphicon-home Home
				li class="dropdown"
					a href="#" class="dropdown-toggle" data-toggle="dropdown"
				        	span class="glyphicon glyphicon-wrench"
				        		b class="caret"
			        		ul.dropdown-menu
					          	li role = 'presentation' class = "dropdown-header" Settings
					          	li class = "divider"
					          	li
					          		a href="#"
					          			span class="glyphicon glyphicon-pencil" Edit
					         	li
					      		a href="#"
					      			span class="glyphicon glyphicon-trash"Delete
				          		li
				          			a href="{{url_for('logout')}}"
				          				span class="glyphicon glyphicon-ban-circle" Log Out

		| {% block content %}
		| {% endblock %}

