<!DOCTYPE html>
<html>
  <head>

    <title>Rybook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href= "{{url_for('static', filename = 'css/bootstrap/bootstrap.min.css)}}" rel="stylesheet" media="screen">

  </head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
       <a class="brand" href="#">Rybook</a>

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Be sure to leave the brand out there if you want it shown -->
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class = "nav pull-left">
          <form class="navbar-search pull-left" action="">
            <i class="icon-search"></i>
            <input type="text" class="search-query span7" placeholder="Search">
          </form>
          <li class>
            <a href=></a>
          </li>
          <li class>
            <a href=></a>
          </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class = "icon-user"></i> <b class="caret"></b></a>
            <ul class=  "dropdown-menu"> 
              <li class = "nav-header"> Requests </li>
              <li class = 'divider'></li>
              <li><a href="#"><i class="icon-user"></i> Person</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class = "icon-edit"></i> <b class="caret"></b></a>
            <ul class=  "dropdown-menu"> 
              <li class = "nav-header"> Messages </li>
              <li class = 'divider'></li>
              <li><a href="#"><i class="icon-user"></i> Person</a></li>
            </ul>
          </li>
        </ul>
  
        <ul class = "nav pull-right">
          <li class="active">
            <a href="#"><i class="icon-home"></i> Home</a>
          </li>
          <li>
            <a href="#"> Profile</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class = "icon-wrench"></i> <b class="caret"></b></a>
            <ul class=  "dropdown-menu"> 
              <li class = "nav-header"> Settings </li>
              <li class = 'divider'></li>
              <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
              <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
              <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
              <!-- Add persons picture to icons and then make that what appears for a friend request -->
            </ul>
          </li>

        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <span> Email:</span>
    </div>
    <div class="span10" pull-right>
        Edit 
    </div>
  </div>
</div>


</body>
</html>