doctype html
html
	head
		title Rybook | Activation
		meta name="viewport" content="width=device-width, initial-scale=1.0"
    	link href="{{ url_for('static', filename = 'css/example.css')}}" rel="stylesheet" media="screen"
    	link href = "{{url_for('static', filename = 'css/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet" media="screen"
	body
		h1 Activate!
		form
			.input-append
	  			input.span2#appendedInputButton type="text"
	  			button.btn type="button" Search
	  	.header
	  		.row
	  			.col-xs-6 COLUMN 1
					.col-xs-6 Column 2


