{% extends "base2.html" %}{% block content %}<div class="center"><img class="centralPhoto" src="{{url_for('static', filename = 'images/' + pic_info.filename)}}" /></div><form action="{{url_for('comment', item_id = pic_info.id)}}" data-id="{{pic_info.id}}" method="post"><input class="commentBar2" name="comment" placeholder="Comment" type="text" /><input name="type" type="hidden" value="picture" /></form><div class="picComments">{%from 'macros/comment.html' import comment%}
   {%for c in pic_info.comments%}
   {{comment(c)}}
   {%endfor%}</div><script src="{{url_for('static', filename ='js/picturePage.js')}}"></script>{% endblock %}
