| {% extends "base2.html" %}
| {% block content %}
.left
	.bio
		| Name: {{current_user.f_Name}} {{current_user.l_Name}}
		br
		| Email: {{current_user.email}}
	.pictures
		|Pictures
		.img
			a href="{{url_for('getPictures', user_id=current_user.id)}}"
				img src="{{url_for('static', filename = 'images/' + current_user.profile_photo)}}" class='prophoto'
.right
	|{%if current_user.owner %}
	form action="{{url_for('writeStatus')}}" method='post' class='writeStatus'
		div class="input-group"
			input type="text" class="form-control"
			span class="input-group-btn"
				button class="btn btn-default" type="submit" Post

	|{%endif%}
	|{%for s in status%}
	.statuses
		.status
			.top
				.leftpart
					img src="{{url_for('static', filename = 'images/' + current_user.profile_photo)}}" class='thumb'
				.rightpart
					.creater
						|{{current_user.f_Name}} {{current_user.l_Name}}	
						|{%if s.date_created %}		
							on {{s.date_created}}
						| {%endif%}
					.middle
						| {{s.status}}	
			.bottom
				| Like and comment bar	
	|{%endfor%}

| {% endblock %}
