html
	head
    		link href="{{url_for('static', filename = 'css/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet" media="screen"
    		link href="{{url_for('static', filename = 'css/redesign.css')}}" rel="stylesheet" media="screen"
    		script src="{{url_for('static', filename = 'js/jquery-1.11.1.min.js')}} "
    		script src="{{url_for('static', filename = 'css/bootstrap/dist/js/bootstrap.js')}} "
	body
		.header
			.left
				span.site-name Rybook 
				br
				span Welcome (user name)
				.pro-pic
					| Propic
			.right
				.search
					form.navbar-form.navbar-left role="search" 
						.form-group
							input.form-control placeholder="Search" type="text" 
						button.btn.btn-default type="submit"  Submit
		nav.navbar.navbar-default role="navigation" 
			.container-fluid
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a href="#" Home
						li
							a href="#" 
								span Requests
						li
							a href='#'
								span Messages
						li.dropdown
							a.dropdown-toggle data-toggle="dropdown" href="#" 
    								| Dropdown
							ul.dropdown-menu
							  li
							    a href="#"  Action
							  li
							    a href="#"  Another action
							  li
							    a href="#"  Something else here

		.content
			.left
				.statuses
					| Status
			.right
				.pictures
					| Picture
				.bio
					| Info


